# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import pandas as pd
import numpy as np
import statistics

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [2]:
db = pd.read_csv("Admission_Predict.csv")
db

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [3]:
#with the rstrip we remove the trailing spaces from the headers.
db.columns = db.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [4]:
db.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [5]:
# We prepare a boolean statement to see if we have any NaN and then we sum them, knowing that the true counts as 1 and false as 0
db.isna().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [6]:
# We use the set_index method to add the Serial No. as index and still keep it within the df.
db.set_index(["Serial No."])
db.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [7]:
# Not sure to have understood this excercise. I have checked that these 2 columns really contain unique values. The duplicated() method proofs if any duplicates are given within the whole db or on specific columns. It should return "True" if duplicates are present
boolean = db.duplicated(subset=['GRE Score','CGPA']).any()
boolean

False

In [8]:
# As I was not sure I have set those 3 columns as set as well and dropped them from the df
db.set_index(["Serial No.","GRE Score","CGPA"],drop= False, inplace=True)
db.head()

,,,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,GRE Score,CGPA,,,,,,,,,
1,337,9.65,1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,8.00,2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,8.67,3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,8.21,4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,9.34,5,330,115,5,4.5,3.0,9.34,1,0.90

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [9]:
# we use the set_index method to set 2 columns as indexes
db.set_index(['GRE Score','CGPA'],inplace=True)

In [10]:
db.head()

,,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,,
337,9.65,1,118,4,4.5,4.5,1,0.92
316,8.00,2,104,3,3.0,3.5,1,0.72
322,8.67,3,110,3,3.5,2.5,1,0.80
314,8.21,4,103,2,2.0,3.0,0,0.65
330,9.34,5,115,5,4.5,3.0,1,0.90

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [11]:
db.reset_index(inplace=True)

In [12]:
db.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,1,118,4,4.5,4.5,1,0.92
1,316,8.00,2,104,3,3.0,3.5,1,0.72
2,322,8.67,3,110,3,3.5,2.5,1,0.80
3,314,8.21,4,103,2,2.0,3.0,0,0.65
4,330,9.34,5,115,5,4.5,3.0,1,0.90

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [13]:
# We set the filter on the required columns and apply the .count method

db[(db['CGPA']>9) & (db['Research']>0)].count()

# Would be also possible to just count the rows of any random column, bearing in mind that rows will always be the same?
#see below

print("The number of rows where the CGPA is higher than 9 and the student has conducted research is",db[(db['CGPA']>9) & (db['Research']>0)].count())

The number of rows where the CGPA is higher than 9 and the student has conducted research is GRE Score            101
CGPA                 101
Serial No.           101
TOEFL Score          101
University Rating    101
SOP                  101
LOR                  101
Research             101
Chance of Admit      101
dtype: int64

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [14]:
db[(db['CGPA']>9) & (db['SOP']<3.5)]["Chance of Admit"].mean()

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [15]:
def standardize(col):
   
    stand =(db[col]- np.mean(db[col]))/np.std(db[col])
    
    return stand

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [16]:
db['CGPA_std']=standardize('CGPA')
db['GRE_std']=standardize('GRE Score')
db['LOR_std']=standardize('LOR')
db.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338

We will generate the decision choice at random using the code below. Please run the cell.

In [17]:
# Libraries
from random import choices

In [18]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=db.shape[0])
db

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338
...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [19]:
db['deciding_column'] = db.lookup(db.index,decision_choice)
db.head()

C:\Users\EFFDF~1.SAN\AppData\Local\Temp/ipykernel_20192/2930125165.py:1: FutureWarning: The 'lookup' method is deprecated and will beremoved in a future version.You can use DataFrame.melt and DataFrame.locas a substitute.
  db['deciding_column'] = db.lookup(db.index,decision_choice)

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.193197
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,-0.063450
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,0.121191
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.643433
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,-0.481338

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [20]:
db['decision']=np.where(db['deciding_column']>0.8,1,0)
db.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.193197,1
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,-0.063450,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,0.121191,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.643433,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,-0.481338,0

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [21]:
db[db['decision']==1].count()
print(db[db['decision']==1]['decision'].count(),"applicants will be accepted") # same as above I assume that counting rows on a df with unique indexes should give us the amount

88 applicants will be accepted

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [22]:
db.columns = db.columns.str.lower()
db.columns = db.columns.str.replace(".", '')
db.columns = db.columns.str.replace(' ','_')
db.head()
# I was not able to remove the non character symbols in any other way

C:\Users\EFFDF~1.SAN\AppData\Local\Temp/ipykernel_20192/406337477.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  db.columns = db.columns.str.replace(".", '')

,gre_score,cgpa,serial_no,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.193197,1
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,-0.063450,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,0.121191,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.643433,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,-0.481338,0

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [23]:
def boost (row):
    if row['university_rating']>4:
        return row['gre_score'] + 10
    else:
        return row['gre_score']

In [25]:
db['total_gre_score']=db.apply(boost, axis=1)
db

,gre_score,cgpa,serial_no,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision,total_gre_score
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.193197,1,337.0
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,-0.063450,0,316.0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,0.121191,0,322.0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.643433,0,314.0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,-0.481338,0,340.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840,0.736216,0,324.0
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840,0.852571,1,325.0
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197,1.193197,1,330.0
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019,-0.409947,0,312.0
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019,1.409165,1,333.0

In [28]:
labels = ["bin1", "bin2", "bin3", "bin4"]
db["bin"] = pd.cut(db['total_gre_score'],4,labels=labels)
db
# I have added labels to give the bin a bit more sin.

,gre_score,cgpa,serial_no,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision,total_gre_score,bin
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.193197,1,337.0,bin4
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,-0.063450,0,316.0,bin2
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,0.121191,0,322.0,bin3
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.643433,0,314.0,bin2
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,-0.481338,0,340.0,bin4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840,0.736216,0,324.0,bin3
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840,0.852571,1,325.0,bin3
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197,1.193197,1,330.0,bin3
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019,-0.409947,0,312.0,bin2
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019,1.409165,1,333.0,bin3